body {
  color: #757575;
  letter-spacing: 0.03em;
  font-family: Roboto, sans-serif;
  background-color: #FFFFFF;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.logo-one {
  color: #2196F3;
}

.logo-two {
  color: #212121;
}

.logo-two-footer {
  color: #ffffff;
}

.logo {
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.2;
  text-decoration: none;
  margin-right: 93px;
}

.page-header {
  padding-top: 24px;
  padding-bottom: 25px;
}

.page-header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navigations {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-naw {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mail-icon {
  margin-right: 10px;
}

.site-naw .link {
  color: #212121;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-naw .link:hover,
.site-naw .link:focus {
  color: #2196F3;
}

.site-nav-item:not(:last-child) {
  margin-right: 50px;
}

.site-nav-item {
  position: relative;
}

.studio::after,
.portfolio::after {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: #2196F3;
  border-radius: 2px;
  margin-bottom: -32px;
}

.studio {
  color: #2196F3;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.contacts .link {
  color: #757575;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  fill: #757575;
}

.mail-link {
  margin-right: 40px;
}

.contacts .link:hover,
.contacts .link:focus {
  color: #2196F3;
  fill: #2196F3;
}

.hero {
  background-color: #2F303A;
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/hero.jpg);
  background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero.jpg);
}
.hero-title {
  color: #FFFFFF;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
  width: 696px;
}

.hero .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  min-width: 528px;
  min-height: 581px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.1411764706), 0px 1px 3px 0px rgba(0, 0, 0, 0.1215686275);
          box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.1411764706), 0px 1px 3px 0px rgba(0, 0, 0, 0.1215686275);
}

.label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.label:not(:last-child) {
  margin-bottom: 10px;
}

.form-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  color: #212121;
  margin-bottom: 12px;
}

.label-name {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
}

.label-chek {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
  margin-bottom: 30px;
  -ms-flex-item-align: center;
      align-self: center;
}

.label-chk-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 2;
  margin-right: 3px;
}

.input-link {
  color: #2196F3;
  text-decoration: underline;
}

.form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 40px;
}

textarea {
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  width: 100%;
  border-radius: 4px;
  height: 120px;
  padding: 12px 16px;
}

label > textarea:focus-within,
.form-input:focus-within {
  border-color: #2196F3;
  outline: none;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus-within ~ .icon-vector {
  fill: #2196F3;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

textarea::-webkit-input-placeholder {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.01em;
}

textarea::-moz-placeholder {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.01em;
}

textarea:-ms-input-placeholder {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.01em;
}

textarea::-ms-input-placeholder {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.01em;
}

textarea::placeholder {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.01em;
}

.input-chek {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  margin: 0;
  width: 16px;
  height: 15px;
  margin-right: 8px;
}

.input-chek::before {
  content: "";
  display: inline-block;
  border: 2px solid #212121;
  width: 16px;
  height: 15px;
  border-radius: 2px;
}

.input-link {
  font-size: 14px;
  font-weight: 400;
  line-height: 2;
  margin-left: 4px;
}

.form-input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  width: 100%;
  border-radius: 4px;
  height: 40px;
  padding-left: 42px;
}

.input-chek:checked.input-chek:before {
  background-image: url("../images/icon-check.svg");
  background-color: #2196F3;
  background-size: contain;
  border: none;
}

.icon-vector {
  position: absolute;
  left: 12px;
  top: 50%;
  width: 13px;
  height: 13px;
}

.send-button {
  font-size: 16px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  text-align: center;
  color: #FFFFFF;
  background-color: #188CE8;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  border: none;
  -ms-flex-item-align: center;
      align-self: center;
}

.btn-modal-close {
  position: absolute;
  top: 14px;
  right: 14px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1019607843);
  background-color: transparent;
  padding: 6px;
  width: 30px;
  height: 30px;
}

.hero-button {
  display: inline-block;
  padding: 10px 24px;
  color: #FFFFFF;
  background-color: #2196F3;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.8;
  letter-spacing: 0.06em;
  border-radius: 4px;
  text-align: center;
  min-width: 200px;
  border: none;
}

.benefits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.benefits-title {
  color: #212121;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.8;
  margin-bottom: 10px;
}
.benefits-title-list {
  color: #757575;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
}
.benefits-box {
  background-color: #F5F4FA;
  width: 270px;
  height: 120px;
  padding: 25px 100px;
  margin-bottom: 30px;
}

.page-benefits {
  padding-top: 94px;
  padding-bottom: 94px;
}

.preference-item:not(:last-child) {
  margin-right: 30px;
}

.occupation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about-us {
  padding-bottom: 94px;
}

.section-title {
  color: #212121;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 50px;
}

.our-team {
  padding: 94px 215px;
  background-color: #F5F4FA;
}

.team-item {
  background-color: #FFFFFF;
  border-radius: 0 0 4px 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  width: 270px;
  height: 428px;
}

.container .team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.name-item {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.team-name {
  color: #212121;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 10px;
}

.team-profession {
  color: #757575;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 16px;
}

.team-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin-bottom: 30px;
  margin-left: 32px;
  margin-right: 32px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
}

.team-link-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FFFFFF;
  fill: #AFB1B8;
}

.team-link-social:hover,
.team-link-social:focus {
  background-color: #2196F3;
  fill: #FFFFFF;
}

.clients {
  padding: 94px 215px;
}
.clients-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  padding: 0;
}
.clients-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  fill: #AFB1B8;
  width: 170px;
  height: 92px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
}

.clients-link:hover {
  border-color: #2196F3;
  fill: #2196F3;
}

.contact {
  background-color: #2F303A;
  padding-top: 60px;
  padding-bottom: 60px;
}
.contact-adress {
  color: #FFFFFF;
  font-size: 14px;
  line-height: 1.7;
  text-decoration: none;
}
.contact-mail {
  color: #757575;
  font-size: 14px;
  line-height: 1.7px;
  font-weight: 400;
  text-decoration: none;
}
.contact-phone {
  color: #757575;
  font-size: 14px;
  line-height: 1.7;
  font-weight: 400;
  text-decoration: none;
}

.address {
  margin-top: 28px;
}

.contact-footer-item {
  font-style: normal;
}

.contact-footer-item:not(:last-child) {
  margin-bottom: 12px;
}

.contact .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-item-title {
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.8;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer-social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(255, 255, 255, 0.1019607843);
  fill: #FFFFFF;
  margin-right: 10px;
}

.footer-social-link:hover {
  background-color: #2196F3;
}

.footer-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
}

.footer-mail {
  width: 358px;
  height: 50px;
  border-radius: 4px;
  background-color: #2F303A;
  border: 1px solid rgba(255, 255, 255, 0.3019607843);
}

.footer-mail::-webkit-input-placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
}

.footer-mail::-moz-placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
}

.footer-mail:-ms-input-placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
}

.footer-mail::-ms-input-placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
}

.footer-mail::placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
}

.footer-mail {
  padding-left: 16px;
  margin-right: 12px;
}

.footer-item-list {
  list-style: none;
}

.footer-button {
  width: 200px;
  height: 50px;
  background-color: #2196F3;
  border-radius: 4px;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.8;
  letter-spacing: 0.06em;
  text-align: center;
  color: #FFFFFF;
}

.footer-button::after {
  content: url(../images/icon-send.svg);
  margin-left: 10px;
  padding-top: 15px;
}

.footer-item-list > .footer-mail:focus-within {
  color: #FFFFFF;
}

.portfolio {
  color: #2196F3;
}

.filter {
  padding: 94px 215px;
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.filter-list:not(:last-child) {
  margin-right: 8px;
}

.filter-list-item {
  color: #212121;
  background-color: #F5F4FA;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.03em;
  border-radius: 4px;
  padding: 6px 22px;
  border: 1px solid transparent;
  border-color: #F5F4FA;
}

.filter-list-item:hover {
  background-color: #2196F3;
  color: #F5F4FA;
}

.project-list-box {
  padding: 20px 24px;
}

.project-list-name {
  color: #212121;
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.project-list-item {
  color: primary-text-color;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.8;
  letter-spacing: 0.03em;
}

.project-cover {
  position: relative;
  overflow: hidden;
}

.project-list-slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  color: #FFFFFF;
  background-color: #2196F3;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: 0.03em;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project-list-link:hover .project-list-slide, .project-list-link:focus .project-list-slide {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.project-list {
  border: 1px solid #EEEEEE;
  margin: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 370px;
  height: 404px;
}

.project-list:hover {
  -webkit-box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.1607843137), 0px 4px 4px 0px rgba(0, 0, 0, 0.0588235294), 0px 1px 1px 0px rgba(0, 0, 0, 0.1215686275);
          box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.1607843137), 0px 4px 4px 0px rgba(0, 0, 0, 0.0588235294), 0px 1px 1px 0px rgba(0, 0, 0, 0.1215686275);
}

.project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -15px;
}/*# sourceMappingURL=main.css.map */